.NavbarItems {
	background: linear-gradient(0deg, rgb(40, 40, 40, 1.0) 0% , rgba(40, 40, 40, 0.5) 70%, rgba(40, 40, 40, 0.5) 100%);
	backdrop-filter: blur(3px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 10%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.nav_logo{
	width: 80px;
	height: 50px;
    
    background: url(../../LogoCL.png);
    background-repeat: no-repeat;
	background-size: cover;
}

.nav_link{
	list-style: none;
	font-size: 22px;
	color: #ffffff;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
}

.nav_link li{
	color: #ffffff;
	display: inline-block;
	padding: 0px 20px;
}

.nav_link li a{
	color: #ffffff;
    text-decoration: none;
	transition: all 0.8s ease-in;
}

.nav_link li a:hover{
	color: #0088a9;
	text-decoration: none;
	text-shadow:0px 0px 30px #0088a9;
	transition: all 0.2s ease-in;
	list-style: none;
}

.btn_login{
	margin-right: auto;
}
  
