.news .category{
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 10px #000000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
}
.news input{
    display: none;
}
.news .category label{
    display: inline-block;
    min-width: 155px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(57, 59, 64, 0.2);
    color: #393b40;
    border-radius: 4px;
    text-align: center;
    margin: 5px 10px;
    cursor: pointer;
    transition: all 0.2s 0s ease;
}
.news .category label:hover{
    color: rgb(197, 194, 19);
    background-color: #393b40;   
}
.news .category input[id="category1"]:checked ~ label[for="category1"]{
    color: rgb(197, 194, 19);
    background-color: #393b40;
}
.news .category input[id="category2"]:checked ~ label[for="category2"]{
    color: rgb(197, 194, 19);
    background-color: #393b40;
}
.news .category input[id="category3"]:checked ~ label[for="category3"]{
    color: rgb(197, 194, 19);
    background-color: #393b40;
}
.news .category input[id="category4"]:checked ~ label[for="category4"]{
    color: rgb(197, 194, 19);
    background-color: #393b40;
}

.newsList{
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 50px 0px;
}
.newsList ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.newsList li{
    min-width: 300px;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0px;
    transition: all .2s ease-out;
}
.newsList li:hover{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 4px rgb(197, 194, 19);
}
.newsList .more{
    min-width: 300px;
    width: 90%;
    height: 50px;
    background-color: rgba(57, 59, 64, 0.8);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    margin: 0px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.2s 0s ease-out;
    display: flex;
	align-items: center;
    justify-content: center;
}
.newsList .more:hover{
    color: rgb(197, 194, 19);
    background-color: #393b40;
}
.new .img {
    width: 250px;
    height: 150px;
    background-color: rgba(30, 30, 30, 0.7);
}
.new .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: 5px;
    margin-left: 20px;
}
.new .content .title{
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 24px;
    margin-top: 0px;
}
.new .content .text{
    height: auto;
    margin-top: 15px;
    color: rgba(80, 80, 80, 1);
    font-weight: 600;
}
.new .content .data{
    display: flex;
    justify-content: right;
    margin-left: 5px;
    margin-top: auto;
    color: rgba(80, 80, 80, 1);
    font-weight: 600;
}
.new .content .data{
    margin-left: auto;
}
.new .content .section{
    margin-left: 25px;
}
